.buttonlist { 
    width: 100%;
    height: 10%;
    padding-left: 0%;
    background-color: #a3e6ff;
    
}

.buttonlistnext{
    width: 50%;
    height: 40%;
    margin-top: 10%;
    
}

.buttonlistback{
    width: 50%;
    height: 40%;
    margin-top: 10%;
    
}