.avançar {
    position: absolute;
    top: 60%;
    left: 64%;
    width: 8%;
    height: 5%;
    background-color: #87CEFA;
}

.voltar {
    position: absolute;
    top: 60%;
    left: 55%;
    width: 7%;
    height: 5%;
    background-color: #87CEFA;
}