.pokeimg {
    margin-left: 80%;
    margin-bottom: 100%;
    margin-top: 30%;
    width: 150%;
}

.buttonnext {
    width: 120%;
    margin-left: 30%;
    margin-top: 150%;
}

.buttonback {
    width: 120%;
    margin-left: 5%;
    margin-top: 140%;
}