 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    padding-left: 10px;
    margin: 50px auto;
    background-color: #FE2E2E;
    border-radius: 10px;
    
}
